<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>선택된 음식</h2>
    </div>

    <hr class="my-4">

    <div class="py-5 text-center">
        <h2 th:text="${selectedMeal.mealName}">테스트 음식1</h2>
    </div>

        <div class="justify-content-center">
            <button class="btn btn-primary btn-lg float-end"
                    onclick="location.href='meals.html'"
                    th:onclick="|location.href='@{/meal/meals}'|"
                    type="button">목록으로</button>
        </div>
</div>
<!-- /container -->
</body>
</html>
